@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<!--
Display error image from wwwroot image folder and error text
-->
<img scr="Images/BuckingBronco.png" , alt="BuckingBronco" />
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!.</h2>
